:root {
  --primary-color: #34568b;
  --secondary-color: #f3ece7;
  --accent-color-1: #c39bd3;
  --accent-color-2: #7fb3d5;
  --neutral-color: #ecf0f1;
  --font-primary: 'Playfair Display', serif;
  --font-secondary: 'Roboto', sans-serif;
}
