$primary-color: #34568b; // Deep blue
$secondary-color: #f3ece7; // Soft beige
$accent-color-1: #c39bd3; // Muted purple
$accent-color-2: #7fb3d5; // Light blue
$neutral-color: #ecf0f1; // Light gray

$font-family-headings: 'Playfair Display', serif;
$font-family-body: 'Roboto', sans-serif;
